/* .main1{
    margin-top: 11%;   
    height: 67.8vh; 
}
*/
.lowericons{
  width:20%;
   display: flex;
   justify-content: space-around;
} 
.holatext {
 margin-top: 15%;
}
.name{
  font-weight: bold;
  font-size: 60px;
}
.frontdiv{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 570px) {
  .name {
font-size: xx-large;
  }
  .holatext{
    margin-top: 30%;
  }
  .lowericons{
    width: 40%;
    margin-top: 50%;
  }

  
}
@media screen and (max-width: 768px) {
  .frontdiv{
    display: grid;
    justify-content: center;
    /* border: solid red; */
  }
  .straightline{
    color: rgb(41, 40, 40);
  }
}
@media screen and (max-width: 538px) {
  .frontdiv{
    display: grid;
  }
  .straightline{
    color: rgb(41, 40, 40);
  }
}
@media screen and (max-width: 400px) {

.front-endtext{
font-size: small;
}
}
.frontpagemain{
  height: 94vh;
}
/* about */
.buttondiv{
  width: 60%;
  text-align: center;
}
.progressbar{
  height: 12px;
  font-size: x-small;
  font-weight: bold;
}
.button {
  width: 100%;
  height: 110%;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 1s;

}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #292929;
}

.button5:hover {
  background-color: #0f0e0e;
  color: white;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid #292929;
  /* margin-top: 10%; */

}

.button1:hover {
  background-color: white;
  color: black;
}
@media screen and (max-width: 430px) {
  .div2 {
   width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .button {
   width: 120%;
  }
  .button5{
    margin-top: 10%;
    height: 43px;
  }
}
@media screen and (max-width: 291px) {
  .button5{
    height: 73px;
  }
}
@media screen and (max-width: 451px) {
  .lowergrid{
    display: grid;
  }
  .profiletext1{
    text-align: center;
  }
}
/* Resume */
.toptext{
  text-align: center;
  width: 80%;
}
.uperdiv{
  display: flex;
  justify-content: center;
}
/* .first{
  border: solid red;
} */
/* .second{
  border: solid red;
} */
.educationdiv{
  width: 70%;
}
@media screen and (max-width: 640px) {
  .second {
    display: flex;
    justify-content: center;
    /* border: solid black; */
    width: 100%;
  }
}
/* Contact */
.submitbtn{
  width: 50%;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 1s;
}
.submitbtn:hover{
  background-color: white;
  color: black;
}
.submitbtn{
  background-color: black;
  color: white;
}
.headingtext{
  font-family: 'Allerta Stencil', sans-serif;
}
.paragraphtext{
  font-family: 'Rancho', cursive;
}
/* footer */
.divone{
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 500px) {
 .footercontainer{
  display: grid;
  }
}
/*footer*/

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #e3e4e9;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}